/build/
/.gradle/
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
gradle.properties

.log


.vscode/
*.pdf

*.sqlite3
*.sql
*.db
*.db3
development.sqlite3

*.tmp
*.swp
*.swo